<div class="container">
  <h1>Kúp</h1>
  <p>Térfogatszámítás</p>

  <div>
    <div>
      <label for="radius" class="form-label">Sugár</label>
      <input type="number" [(ngModel)]="radius" class="form-control">
    </div>
    <div>
      <label for="height" class="form-label">Magasság</label>
      <input type="number" [(ngModel)]="height" class="form-control">
    </div>
    <button class="btn btn-primary my-2" (click)="startCalc()">Számít</button>
    <div>
      <label for="volume" class="form-label">Térfogat</label>
      <input type="number" [(ngModel)]="volume" readonly class="form-control">
    </div>
  </div>

</div>

